on:
  push:
    branches:
      - main

jobs:
  notify-discord-about-push-to-repo:
    runs-on: ubuntu-latest

    steps:
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        if: ${{ success() }}
        with:
          args: "The project {{ EVENT_PAYLOAD.repository.full_name }} has been deployed."
      - name: The job has failed
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        if: ${{ failure() }}
        with:
          args: "The project {{ EVENT_PAYLOAD.repository.full_name }} has been deployed."
